@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FCFCFC;
  background: #141414;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #111111;
  /* border: 1px solid #cacaca; */
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  /* border: 3px solid transparent; */
  background-clip: content-box;
  background-color: #2f2f2f;
}
